<h2>Hello, <%=current_user.username%>!</h2>

<% if current_user.food_requests.empty? %>
Currently, you have no food requests.
<% else %>
Here are your food requests.
<% end %>

<% current_user.food_requests.each do |r| %>
    <ol><a href="/food_requests/<%= r.id %>">
    <%= r.quantity %>
    <%= r.measuring_unit %>
    of <%= r.name %></a></ol>
      <% end %>

<h3>What would you like to do next?</h3>

<a href="/food_requests/new">Request Food</a>